#search_rs .SearchBox_1_Frame_CssClass{position: relative;
width: 100%;}

#search_rs .SearchBox_1_Title_CssClass{}

#search_rs .SearchBox_1_Description_CssClass{}

#search_rs .SearchBox_1_SearchField_CssClass{    font-family: Raleway;
    font-size: 1.1em;
    color: #fff;
    width: 100%;
    height: 50px;
    border: none !important;
    outline: none;
background-color: #000000;}

#search_rs .SearchBox_1_SearchButton_CssClass{    color: #6b6b6b;
    display: inline-block;
    font: normal normal normal 40px/1 FontAwesome;
    font-size: inherit;
    font-size: 1.5em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;}

#search_rs .SearchBox_1_SearchButton_CssClass:before {
    content: "\f002";
}
#search_rs {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    height: 10vh;
background-color: #000000;
    height: 50px;
    padding: 0 10px;
}

